body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f5f5;
}

/* HEADER */
header {
    max-width: 400px;
    margin: 0 auto;
    position:relative;
}
.floating-label{
    position: absolute;
    width: 100%;
    top:-5px;
    left: 16%;
    color: azure;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px black;
}
.coverImg{
    width: 100%;
    display: block;
    height: 100px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 12px;
    border-bottom-left-radius: 0;   
    border-bottom-right-radius: 0;
}


/* MAIN */
main {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}
/* MENU */
.menu-container {
    padding: 15px;
    border-bottom: 3px solid #eeeeeec2;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.menu-item:hover {
    background: #fafafa;
}

/* IMAGE */
.food-img {
    width: 55px;
    padding: 8px;
    border-radius: 10px;
    background: #f2f2f2;
}

/* TEXT */
.description {
    flex: 1;
}

.name {
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.ingredients {
    font-size: 12px;
    margin: 0;
    color: #777;
}

.price {
    font-weight: bold;
    margin-top: 10px;
}

/* ADD BUTTON */
.add-btn-container {
    display: flex;
    align-items: center;
}

.add-btn-container button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #f0f0f0;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.add-btn-container button:hover {
    background: #ff8c00;
    color: white;
    transform: scale(1.1);
}

/* ORDER SECTION */
.form-update-container {
    padding: 10px 20px;
    margin: 0;
}

.form-order {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* TITLE */
.order-form-title {
    text-align: center;
    font-weight: bold;
    background: #eeeeeec2;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 0px;
    margin: 5px 0px 0px 0px;
}

/* ORDER LIST */
.order-container {
    max-height: 120px;
    overflow-y: auto;
    /* background: #fffbf3f0; */
    border-radius: 10px;
}

.order {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 8px;
    max-height: 35px;
    border-bottom: 1px dashed #ddd;
}

.selected-food-img{
    width: 30px;
    height: 30px;
}

.order .name {
    flex: 1;
}

/* REMOVE BUTTON */
.remove-btn {
    font-size: 12px;
    padding: 3px 8px;
    border: none;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background: #ff4d4d;
    color: white;
}

/* TOTAL */
.total-price-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    /* padding: 5px 0; */
    margin: 5px 0;
}
.total-price-text, .total-price {
    margin: 0;
}

/* COMPLETE BUTTON */
.complete-order-btn {
    width: 80%;
    font-size: 15px;
    margin: 0px auto;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #ff8c00;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.complete-order-btn:hover {
    background: #e67600;
}

/* MODAL */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-details {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* INPUT */
.card-details input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.form-title{
    margin: 5px 0px;
    font-weight: bold;
    font-size: 20px;
}
.card-details input:focus {
    border-color: #ff8c00;
    outline: none;
}
.close-btn {
    display: flex;
    justify-content: end;
    align-items: end;
}
.close-btn button {
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #dedede;
    border: none;
}
.close-btn button:hover{
    background-color: #ff4d4d;
    color: white;
}
/* PAY BUTTON */
.pay-btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #ff8c00;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.overflow{
    max-height: 300px;
    overflow-y: auto;
}
.hidden {
    display: none;
}